---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
//$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;
$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$text-padding-v: 16px;
$text-padding-h: 35px;
$theme-color-1: rgb(64,196,255);
$theme-font-color: #757578;



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "github_badge",
        "post",
        "navigation",
        "highlight",
        "statictext",
        "specials",
        "loading"
;

     
