<footer class="mdl-mini-footer">
    <div class="mdl-mini-footer--left-section">
        <a href="{{ '/feed.xml' | prepend: site.baseurl }}" target="_blank" class="mdl-button mdl-js-button mdl-button--icon mdl-color-text--accent">
            <i class="fa fa-rss"></i>
        </a>

        <a href="https://twitter.com/PascalBrokmeier" target="_blank" class="mdl-button mdl-js-button mdl-button--icon mdl-color-text--accent">
            <i class="fa fa-twitter "></i>
        </a>
        <a href="https://github.com/pascalwhoop/" target="_blank" class="mdl-button mdl-js-button mdl-button--icon mdl-color-text--accent">
            <i class="fa fa-github"></i>
        </a>

    </div>
    <div class="mdl-mini-footer--right-section">
        <button class="mdl-mini-footer--social-btn social-btn__share">
            <i class="material-icons" role="presentation">share</i>
            <span class="visuallyhidden">share</span>
        </button>
    </div>
</footer>