<footer class="mdl-mini-footer">
    <div class="mdl-mini-footer--left-section">
        <a href="{{ '/feed.xml' | prepend: site.baseurl }}" target="_blank" class="mdl-button mdl-js-button mdl-button--icon mdl-color-text--accent">
            <i class="fa fa-rss"></i>
        </a>

        <a href="https://twitter.com/PascalBrokmeier" target="_blank" class="mdl-button mdl-js-button mdl-button--icon mdl-color-text--accent">
            <i class="fa fa-twitter "></i>
        </a>
        <a href="https://github.com/pascalwhoop/" target="_blank" class="mdl-button mdl-js-button mdl-button--icon mdl-color-text--accent">
            <i class="fa fa-github"></i>
        </a>

    </div>
    <div class="mdl-mini-footer--right-section">
        <!--<button class="mdl-mini-footer&#45;&#45;social-btn social-btn__share">
            <i class="material-icons" role="presentation">share</i>
            <span class="visuallyhidden">share</span>
        </button>-->
    </div>
</footer>



<script src="/js/custom.js"></script>

<script src="/css/mdl/material.min.js"></script>
<!-- mathJax-->
{% if page.hasmath == true %}
<script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
{% endif %}

{% if page.is_post == true %}
<script type="text/javascript" src="/js/toc.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<!-- Genius annotation -->
<!--<script async src="//genius.codes"></script>-->
<!--<script async defer src="https://hypothes.is/embed.js"></script>-->
{% endif %}
{% if page.hascsvdownload %}
<script src="/js/fileSaver.min.js"></script>
{% endif %}

{% include adsenseLogic.html %}