<footer class="site-footer">

    <div class="wrapper">

        <h2 class="footer-heading">Where to find me:</h2>

        <div class="footer-col-wrapper">
            <!--<div class="footer-col  footer-col-1">
              <ul class="contact-list">
                <li>{{ site.title }}</li>
                <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
              </ul>
            </div>-->

            <div class="footer-col  footer-col-1">
                {% include social_media.html %}
            </div>

            <div class="footer-col footer-col-2-3">
                <p class="text">{{ site.description }}</p>
            </div>
        </div>

    </div>

</footer>

