<head>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">
<meta name="google-site-verification" content="eNqM5zfTQDiK0ED9OTq4owy7sonfTGOp57iVQXR5LH0" />
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300italic,300,400italic,500,500italic,100italic,100' rel='stylesheet' type='text/css'>


    <!--<script type="text/javascript" src="/js/bootstrap.min.js"></script>-->
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
</head>
