body {
  font-family: 'Roboto', 'Helvetica', sans-serif !important;

  &::before {
    background-size: cover;
    background-attachment: fixed;
    content: '';
    will-change: transform;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position: fixed;
  }

}

footer{
  i{
    color: $theme-font-color;
  }
}

@media (max-width: 512px) and (min-resolution: 1.5dppx), (max-width: 1024px) and (max-resolution: 1.5dppx) {
  body::before {
    background-image: url('../images/bg_1024.jpg');
  }

}

@media (min-width: 513px) and (max-width: 1024px) and (min-resolution: 1.5dppx), (min-width: 1025px) and (max-width: 2048px) and (max-resolution: 1.5dppx) {
  body::before {
    background-image: url('../images/bg_2048.jpg');
  }
}

@media (min-width: 1025px) and (min-resolution: 1.5dppx), (min-width: 2049px) and (max-resolution: 1.5dppx) {
  body::before {
    background-image: url('../images/bg_2880.jpg');
  }
}

.blog {
  .content-container, .post .mdl-card{
    max-width: 900px;
    padding: 0;
    display: flex;
    width: 100%;
    margin: 0 auto;
    flex-shrink: 0;
  }
  /*.postlist .mdl-card{
    padding: 0;
    flex-shrink: 0;
  } */
  &.mdl-layout .mdl-layout__content {
    padding-top: 230px;
    position: relative;
    -webkit-overflow-scrolling: touch;
  }
  .mdl-card {
    margin: 20px 8px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    .no-banner {
      min-height: 200px;
    }

    .banner {
      min-height: 370px;
    }

    .banner-lrg {
      min-height: 500px;
    }
  }

  .mdl-card__title {
    padding: 16px;
    flex-grow: 1;
  }
  .mdl-card__media {
    box-sizing: border-box;
    background-size: cover;
    padding: 24px 35px;
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    align-items: flex-end;
    cursor: pointer;
    a {
      color: inherit;
    }
  }
  .mdl-card__title a {
    color: inherit;
  }
  .mdl-card__supporting-text {
    width: 100%;
    padding: $text-padding-v $text-padding-h;
    min-height: 64px;
    display: flex;
    align-items: left;
    box-sizing: border-box;
    min-height: 76px;
  }

  @media (max-width: 512px) {
    .mdl-card__supporting-text {
      padding: 16px;
    }
  }
  .mdl-card__media ~ .mdl-card__supporting-text {
    min-height: 64px;
  }
  .mdl-card__supporting-text ~ .mdl-card__supporting-text {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
  .mdl-card__actions:first-child {
    margin-left: 0;
  }
  @media (max-width: 512px) {
    .meta {
      padding: 16px;
    }
  }

  .meta {
    box-sizing: border-box;
    padding: 16px 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: auto;
    > .meta__favorites {
      flex-direction: row;
      margin: 0 8px;
      font-size: 13px;
      font-weight: 500;
      .material-icons {
        font-size: 2em;
        cursor: pointer;
        margin-left: 12px;
      }
    }
  }
  .mdl-card .meta.meta--fill {
    justify-content: space-between;
  }
  .meta > * {
    &:first-child {
      margin-right: 16px;
    }
    display: flex;
    flex-direction: column;
  }

  .post > .demo-nav {
    margin: 12px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-weight: 500;
    > .demo-nav__button {
      color: white;
      text-decoration: none;
    }
    .mdl-button {
      color: rgba(0, 0, 0, 0.54);
      background-color: white;
    }
    > .demo-nav__button {
      &:first-child .mdl-button {
        margin-right: 16px;
      }
      &:last-child .mdl-button {
        margin-left: 16px;
      }
    }
  }
  .mdl-card {
    > a {
      color: inherit;
      text-decoration: none;
      font-weight: inherit;
    }
    h3 {
      margin: 0;
      a {
        text-decoration: none;
      }
      &.quote {
        &:before, &:after {
          display: block;
          font-size: 3em;
          margin-top: 0.5em;
        }
        &:before {
          content: '“';
        }
        &:after {
          content: '”';
        }
      }
    }
  }
}

.comments {
  background-color: #EEE;
}

.meta {
  > * {
    align-items: left;
  }
  + .mdl-card__supporting-text {
    border: 0;
    display: flex;
    flex-direction: column;
    img {
      max-width: 100%;
    }
  }
}

.demo-back {
  color: white;

}

/* Workaround for Firefox.
 * User agent stylesheet kept overwriting the font in FF only.
 */

.blog {
  .section-spacer {
    flex-grow: 1;
  }
}

/* Fixes for IE 10 */

.mdl-grid {
  display: flex !important;
}

.social-btn {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  margin: 0 16px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  opacity: 0.46;
  border-radius: 2px;
}

.social-btn__twitter {
  background-image: url('https://www.gstatic.com/../images/icons/material/system/2x/post_twitter_black_24dp.png');
}

.social-btn__blogger {
  background-image: url('https://www.gstatic.com/../images/icons/material/system/2x/post_facebook_black_24dp.png');
}

.social-btn__gplus {
  background-image: url('https://www.gstatic.com/../images/icons/material/system/2x/post_gplus_black_24dp.png');
}

.social-btn__share {
  color: rgba(0, 0, 0, 0.54);
  background: transparent;
}

.blog .mdl-mini-footer {
  margin-top: 80px;
  height: 120px;
  padding: 40px;
  align-items: center;
  background-color: white;
  box-sizing: border-box;
}

