/**
 * Site header
 */
.site-header {
  /*border-top: 5px solid $grey-color-dark;*/
  border-bottom: 1px solid $grey-color-light;
  min-height: 56px;
  background: rgba(255, 255, 255, $milk-glass-opacity);

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  font-size: 26px;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-nav {
  float: right;
  line-height: 56px;

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the first one
    &:not(:first-child) {
      margin-left: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: 30px;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;
    z-index: 999;

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 32px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        width: 18px;
        height: 15px;

        path {
          fill: $grey-color-dark;
        }
      }
    }

    .trigger {
      clear: both;
      display: none;
    }

    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;
    }
  }
}

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

/*.footer-col-wrapper {
  font-size: 15px;
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width: calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width: calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width: calc(45% - (#{$spacing-unit} / 2));
}

.footer-col-2-3 {
  width: -webkit-calc(65% - (#{$spacing-unit} / 2));
  width: calc(65% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width: calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}*/

/**
 * Page content
 */
.page-content {
  padding-top: $spacing-unit;
}


.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-date {
  position: absolute;
  top: 10px;
  right: 10px;
}

.post-link {
  display: block;
  font-size: 24px;
}

ul.post-list{
  margin-left: 0;
}
.post-list li{
  list-style: none;

}


div.post-container {
  background-color: rgba(255, 255, 255, $milk-glass-opacity);
  margin-bottom: $spacing-unit;
  padding: $spacing-unit-half;
  border: 1px solid $grey-color-light;
  border-radius: 3px;
  position: relative;
}

.post-container img.stretch{
  width: 100%;
}

.post-container img.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*main page postings styling*/
.big-post-image-container img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 200px;
}

.big-post-image-container{
  height: 200px;
}


.big-post-no-image-replacement{
  height: 200px;
  background-image: (url("/images/patterns/grey_wash_wall.png"));
}
.big-post-no-image-replacement p{
  text-align: center;
  padding-top: 80px;
  color: #f5f5f5;
  font-weight: 500;

}
