@media (max-width: 512px)
  main .mdl-cell--4-col-phone
    margin: 0
    width: 100% !important
    .mdl-grid .mdl-cell--4-col-phone
      margin: 5
      width: calc(100% - 10px) !important
    .post
      .mdl-card

@media (min-width: 840px)
  .post
    .mdl-card
      padding: 40px


.img-200
  max-height: 200px
.img-300
  max-height: 300px
.img-350
  max-height: 350px
.img-400
  max-height: 400px
.img-500
  max-height: 500px
.post
  table
    margin: 10px
    border: 1px solid
    border-collapse: collapse
    th, td
      border: 1px solid
      padding: 4px
    thead   
      background-color: $grey-color-light
    &.table-xy
      tbody>tr>td:first-child
        background-color: $grey-color-light
        font-weight: bold
  
  blockquote
    margin-top: 10px
    margin-bottom: 10px
    margin-left: 50px
    padding-left: 15px
    border-left: 3px solid #ccc
    font-style: italic
    p
      margin: 0
      font-size: 0.9em
      line-height: 1.15em
    &:before, &:after
      display: none

.mdl-card__supporting-text
  figure
    margin-left: 0
    margin-right: 0
  img
    max-width: 100%

.post-meta-container
  border-bottom: 0
  display: flex
  padding-bottom: 16px
  .avatar
    width: 44px
    height: 44px
    margin-right: 18px
    background-size: contain
    border-radius: 22px

#postContentWrapper
  img
    margin: 0 auto
    display: block
  .img-caption
    margin: 0 auto 2em auto
    text-align: center
    border-left: none
    font-size: 0.8em
    font-style: italic 
    padding: 0 



.demo-nav-eq-spacer
  padding: 15px 0
  height: 32px

.post > .demo-nav
  padding: 15px 0
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  color: white
  font-weight: 500
  > .demo-nav__button
    color: white
    text-decoration: none
  .mdl-button
    color: rgba(0, 0, 0, 0.54)
    background-color: white
  > .demo-nav__button
    &:first-child .mdl-button
      margin-right: 16px
    &:last-child .mdl-button
      margin-left: 16px

.post-title-text
  color: rgba(0,0,0,.54)
  font-size: 3.0em
  margin: 0
  font-weight: 300



