---
layout: default
---

<div class="mdl-cell mdl-cell--9-col">
    <div class="postlist mdl-grid">

        <div class="mdl-card mdl-shadow--10dp mdl-cell mdl-cell--12-col">
            <div class="mdl-card__title mdl-color-text--grey-600">
                <h3 style="text-transform: capitalize">{{page.category}}</h3>
            </div>

            <!--<p>{% for tag in site.categories[page.category].tags %}
                {% assign t = tag | first %}
                {{t}} xx
                {% endfor %}</p>-->
        </div>

        {% for post in site.categories[page.category] %}
        {% include post_preview_card.html%}
        {% endfor %}
    </div>
</div>