<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

<div class="demo-blog demo-blog--blogpost has-drawer is-upgraded demo-layout-transparent mdl-layout mdl-js-layout">
    <header class="mdl-layout__header mdl-layout__header--scroll mdl-layout__header--transparent">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <a href="/index.html"><span class="mdl-layout-title">{{site.title}}</span></a>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation -->
            <nav class="mdl-navigation">
                {% for category in site.categories limit: 5 %}
                <a class="mdl-navigation__link" href="/{{category[0]}}">{{category[0]}}</a>
                {% endfor %}
            </nav>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">{{site.title}}</span>
        <nav class="mdl-navigation">
            <a class="mdl-typography--font-bold mdl-navigation__link" href="/index.html">Home</a>
            {% for category in site.categories limit: 5 %}
            <a class="mdl-navigation__link" href="/{{category[0]}}">{{category[0]}}</a>
            {% endfor %}
        </nav>
    </div>    
    
    <main class="mdl-layout__content">
        {{ content }}
        {% include footer.html %}
    </main>
    
</div>



<!--{% include github_ribbon.html %}-->
{% include google_analytics.html %}
</body>

</html>
