<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

<div id="loader">
    {% include loader.html %}
</div>


<div class="blog has-drawer is-upgraded mdl-layout mdl-js-layout" id="page" style="display: none">
    {% include header.html %}

    <main class="mdl-layout__content">
        <div class="content-container">
            {{ content }}
        </div>
        {% include footer.html %}
    </main>

</div>



<!--{% include github_ribbon.html %}-->
{% include google_analytics.html %}
</body>

</html>
