<!DOCTYPE html>
<html>

  {% include head.html %}
  {% include google_analytics.html %}

  <body>

    {% include header.html %}
    {% include github_ribbon.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

  {% if page.categories %}
  <style type="text/css">
      body{
          background-image: url("/images/patterns/congruent_pentagon_{{page.categories[0]}}.png");
      }
  </style>
  {% else %}
  <style type="text/css">
      body{
          background-image: url("/images/patterns/congruent_pentagon_{{page.title}}.png");
      }
  </style>
  {% endif %}

</html>
